html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background: #fff;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
    padding: 10px 0;
    height: 72px;
    border: 1px;
}

.menu {
    display: flex;

}

.menu li a {
    margin-left: 15px;
    color: #2E2F42;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.line li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.menu li a:hover {
    background: #24caac;
}

.line {
    display: flex;
}

.line li a {
    margin-left: 15px;
    color: #434455;
    padding: 5px 15px;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.logo h2 {
    display: flex;
}

.logo p {

    font-weight: 700;
    font-size: 18px;
    line-height: 21px;

}

.first {
    color: #4D5AE5;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.second {
    color: #2E2F42;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 496px;
}

.hero {
    background: #2E2F42;
    height: 600px;
}

.hero-text {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    margin-top: 40px;
}

.button {
    margin: 0 auto;
    padding: 60px;
}

.btn {
    padding: 16px 32px 16px 32px;
    background: #4D5AE5;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.feature-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #434455;
    margin: 0 auto;
    height: 104px;
    width: 1128px;
}

.child h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.child p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.team h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #2E2F42;
}

.card-container {
    background-color: #F4F4FD;
    height: 732px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.card-container h2 {
    color: #2E2F42;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

.card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1128px;
    margin: 0 auto;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    width: 264px;
    height: 380px;
    border-radius: 0px 0px 4px 4px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 232px;
    height: 56px;
    gap: 8px;
    justify-content: center;
    margin: 0 auto;
    padding: 50px;
}

.card-image {
    height: 260px;
    width: 264px;
}

.name {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.description {
    font-size: 14px;
    color: #434455;
    text-align: center;
}

.footer {
    background-color: #2E2F42;
    height: 312px;
    margin: 0 auto;
    display: flex;

}

.footer-logo {
    width: 264px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 112px;
}

.footer-inner {
    width: 1128px;
    margin: 0 auto;
    display: flex;
    align-items: center;

}

.footer-logo h3 {
    display: flex;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.footer-logo p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.footer-first {
    color: #4D5AE5;
}

.footer-second {
    color: #F4F4FD;
}

.container {
    max-width: 1440px;
    margin: 0 auto;

}

.project-inner {
    height: 1000px;
}

.portfolio {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 30px;
}

.portfolio-text {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #2E2F42;
}

.row-1 {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1128px;
    padding: 20px 0;
}

.project-card {
    width: 360px;
    height: 420px;
    text-align: left;
    margin: 0 auto;
}

.img {
    width: 360px;
    height: 300px;
}

.card-content-1 {
    width: 360px;
    height: 120px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    padding: 32px 16px 32px 16px;
    border-width: 0px, 1px, 1px, 1px;
    border-style: solid;
    border-color: #E7E9FC;
}

.banking {
    color: #2E2F42;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.app {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

section {
    padding: 120px 0;
}